.formWrapper{  
  margin-top:1%;
  margin-right: 2%;
  margin-left: 8%;
  width: 80vw;
  background-color: white;
  border-radius: 0.8rem;
 
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 95%;;
}

.backButtonWrapper {
  margin-bottom: 20px;;
}
